@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');



.o_kanban_dashboard.o_acs_hms_kanban {
    .o_kanban_record {

    }

    &.o_kanban_ungrouped {
        .o_kanban_record {
            width: 99%;
            height: auto;
        }
    }
}

.o_acs_dashboard_graph > canvas {
  height: 200px;
}
.o_acs_dashboard_graph > canvas g.nv-x.nv-axis {
  transform: translateY(175px);
}

#acs_hms_dashboard {
  min-width: 99%;
  text-align: center;
}

.acs_graph_linechart {
    display: block;
    height: 350px;
}

.acs_separator
{
    text-transform: none !important;
}

img.o_signature.img.img-fluid {
    max-width: 45% !important;
}

.btn-green.btn-light {
  border-bottom-color: #4dfe4a !important;
  border-bottom-width: thick !important;
}  