.heading{
    color: #000 !important;
}

.filter_list{
    display: flex;
    flex-direction: row;
}

.filter_list_li{
    margin-left: 20px;
    width: 50%;
}
.filter_list_label{
    font-size: 15px !important;
    font-weight: 500 !important;
}
.filter_buttons{
    color: #30103F !important;
}
.filter_searchview_input {
    background-color: #FFF !important;
    border: none !important;
    border-radius: 4px !important;
}
.filter_searchview_input::placeholder{
    color: grey !important;
    margin-top: 10px !important;
}
.pager_filter{
    position: absolute;
    top:-53px;
    right: -850px;
}


table.o_list_table th div.d-flex {
  display: none !important;
}
